<h1>New Movie Evaluation</h1>

<%= render 'search', search: @movieinfo %>
<% if params[:movie_id] %>
  <%= render 'form', movie_evaluation: @movie_evaluation %>
<% end %>
<%= link_to 'Back', movie_evaluations_path %>
