<h1>New Movie Evaluation</h1>

<%= render 'search', search: @movieinfo %>
<br>
<% if params[:movie_id] %>
  <br>
  <%= render 'information',info:@movie_evaluation %>
  <br>
  <%= render 'form', movie_evaluation: @movie_evaluation %>
<% end %>
<%= link_to 'Back', movie_evaluations_path %>
