<h1>FilmParadiso</h1>

<h3>概要</h3>
<p>FilmParadisoは鑑賞した映画について評価を投稿・閲覧、使用者のお好みに近い映画を推薦などの機能があり</p>
<p>映画好きなユーザー有益な情報を提供するのを目標にしております。</p>

<h3>コンセプト</h3>
<p>FilmParadisoは映画好きな人同士の情報・意見交流を指向するアプリケーションです。</p>
