<h1>検索結果</h1>
<div class="user-index">
  <% @results.each do |user| %>
    <% if user.id != current_user.id %>
      <div class="user-info">
        <p>
          ユーザー名：
          <%= link_to user.name , users_show_path(id:user.id) %>
            <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %>
        </p>
        <p>
          Eメールアドレス：
          <%= user.email %>
        </p>
            <%= render 'follow_form', user: user %>
      </div>
    <% end %>
  <% end %>
</div>
