// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message-room{
  width: 850px;
  float :right;
}
.conversation-list{
  width: 400px;
  float :left;
}
.conversation-tag{
  height: 100px;
  margin: 0px 50px;
}
.conversation-tag-message{
  height: 100px;
  margin: 0px 50px;
  background-color: skyblue;
  font-weight: bold;
  color: white;
}
.user-name{
  font-size: 2rem;
}
