// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-show-area{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.message-content{
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
  width: 65%;
  border-radius: 12px;
  margin: 5px;
}

.conversation-content{
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
  width: 30%;
  border-radius: 12px;
  margin: 5px;
}

.message-form{
  width: 70%;
  margin: 0 15%;
}

.list{

}

.content{
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
  width: 55%;
  border-radius: 12px;
  margin: 10px 20%;
  height: auto;
}

.conversation-tag{
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
  width: 55%;
  border-radius: 12px;
  margin: 10px 20%;
  height: auto;
}
