// Place all the styles related to the movie_evaluations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-evaluation-form{
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
  width: 70%;
  border-radius: 12px;
  margin: 5% 15%;
  padding: 3%;
}

.search-table{
  width: 90%;
  margin: 2% 5%;
}

.evaluation-list-all{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.evaluation-list{
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
  width: 65%;
  border-radius: 12px;
  margin: 5px;
}

.evaluation-info{

}

.evaluation-movie-title{
  float: left;
}

//show
.evaluation-show{
  text-align: center;
  margin: 0 10%;
}

.evaluation-show-list{
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  border-radius: 12px;
}

.evaluation-show-info{

  margin: 10px;
  overflow: auto;
}

.show-form{

}

//new,edit
.evaluation-info-list{

}

.evaluation-info{

}

.evaluation-form{
  margin: 0 10%;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.evaluation-new-search{
  margin: 10px 10%;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}
