// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//guest login
.guest-login{
  background-color: #191970;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  padding: 15px;
  margin: 0px 5px;
  border-radius: 25px;
}

.guest-login:hover{
  opacity: 50%;
  color: white;
}

//search
.movie-list-wrap{
}

.movie-list-all{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie-list{
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
  width: 45%;
  border-radius: 12px;
  margin: 5px;
}

.movie-info{

}

.poster-img{
  float: left;
  width: 20%;
  margin: 10px 5px;
  border-radius: 12px;
}

//show
.movie-show{
  width: 100%;
  padding-left: 25%;
  margin-left: 10px;
}

.show-poster{
}

.show-text{
  text-align: left;
}

.menu{
  font-size: 1.4rem;
}

.show-img{
  width:25%;
  border-radius: 24px;
  float: left;
}

.cast{
  margin: 10px 0px;
}
