// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.information_app{
  text-align: center;
}
.top-image{
  width: 100px;
}
.card {
  display: inline-block;
  float: left;
}
.card-pack{
  display: flex;
  justify-content: center;
}

.show-img{
  width: 500px;
  border-radius: 16px;
  float: left;
}
.guest-login{
  background-color: #191970;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
}
.search_form{
  text-align: center;
}
.search-result-form{

}

.search-all{
  width: 70%;
  margin: 70px 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.search-card{
  border-radius: 10px;
  width: 20%;
  margin-bottom: 10;
  padding: 20px;
  box-sizing: border-box;
  float: left;
  text-align: center;
}

.search-info{
}

.search-img{
  width: 50%;
  border-radius: 16px;
}
.guest-login-button{
  margin: 50px 0px;
}
