// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.singup-form{
  text-align: center;
}
.login-form{
  text-align: center;
  margin: 250px 0px;
}
.password-field{
  border: 5px solid red;
  width: 400px;
  padding: 20px 10px;
}
