// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-index{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.user-info{
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
  width: 45%;
  border-radius: 12px;
  margin: 5px;
}
